---
import Project from '../components/Project.astro';
import Layout from '../layouts/Layout.astro';
import { getProjects } from '../lib/projects';

const projects = await getProjects();

const title = 'pradeepkaswan • home';
---

<Layout title='pradeepkaswan' description="Personal website of Pradeep Kaswan.">
	<h1 slot="header-content" class="text-gray-600 dark:text-gray-500">home</h1>
	<main class="py-6 prose">
		<p class="paragraph">
      <small class="text-gray-600 dark:text-gray-500"
        >IPA /hoʊm/ — home, the place where the Wi-Fi connects automatically, and the fridge is always full.</small
      >
    

    </p>

		<p class="paragraph mt-6">
      Hi there, I'm <strong>Pradeep</strong>. Passionate about <strong>crafting digital wonders</strong>. , I thrive in the world of <strong>web development</strong> and call the <strong>terminal</strong> my second home. Let's turn ideas into interactive experiences!
    </p>

		<div class="mt-12"></div>
    <h2 id="projects" class="text-lg font-medium">Projects</h2>

    <div class="grid grid-cols-2 gap-4 md:grid-cols-3 my-8">
      {projects.map(project => <Project {project} />)}
    </div>

	</main>
	
</Layout>


