---
---

<div class="flex gap-x-4 text-neutral-500 ">
  <a href="#projects" target="_self" class="hover:underline hover:underline-offset-4 hover:transition-transform">projects</a>
  <a href="/music" target="_self" class="hover:underline hover:underline-offset-4 hover:transition-transform">music</a>
</div>